@import "_libs/css/bootstrap.min.css";

.roomActive {
  display: none;
}

.disclosed_chatt {
  display: none;
}

.disclosedRoom {
  display: none;
}

.init {
  display: flex;
}

.display_button_unconnect {
  display: none;
}

#color_action {
  display: none;
}

#chatt {
  display: none;
}

#action_log {
  display: none;
}

.displayButton {
  display: none;
}

#programming_queue {
  display: none;
}

.hidden {
  visibility: hidden;
}

button {
  margin: 10px;
}

.disclosed {
  display: none;
}
p,
label {
  font: 1rem "Fira Sans", sans-serif;
}

input {
  margin: 0.4rem;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

.border {
  border: 2px solid red;
}
